.information-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  span {
    color: #333;
  }
  